/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

/* Sidenav */
.admin-panel
  color white
  background-color blue-tich
  width 256px !important
  min-width 256px !important
  max-width 256px !important
  header
    background-color light-green-tich
    .avatar
      padding 15px 10px 0 10px
      img
        border-radius 50%
        display block
        margin 0 auto
    .profile
      padding-bottom 10px
  .content
    .item
      padding 0 20px
      line-height 48px
      .link
        color white
        padding-left 15px
        text-decoration none
        transition all ease .25s
        &:hover
          background-color rgba(255, 255, 255, 0.3)
        &.active
          background-color rgba(255, 255, 255, 0.3)
        .icon
          color white
          margin-right 10px

/* Admin content */
.admin-content
  .category-list
    .category-list-item
      border-bottom 1px solid #BDBDBD

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector