/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.article
  .title
    padding 15px 5px
    .elements
      .element
        margin-right 25px
        md-icon
          color #4CAF50
          margin-right 10px
  .content
    padding 25px
    md-icon
      color green-tich
      font-size 35px !important
    .discussion-list
      .discussion-item
        border-bottom 1px solid #bdbdbd
        margin 0 auto 30px auto
        padding 5px 5px 10px 5px
        width 90%
        .avatar
          margin-right 15px
          width 50px !important
        .message
          margin-top 5px
        .response
          margin-top 15px
          a
            &:hover
              text-decoration underline
          .comments_count
            a
              color #404040
              text-decoration none
              md-icon
                font-size 18px !important
                margin-right 5px
              &:hover
                md-icon
                  color blue-tich !important
        .comment-list
          border-left 2px solid blue-tich
          margin-top 5px
          .comment-item
            margin-bottom 20px
            .avatar
              width 30px !important
            .info
              span
                font-size 12px
            .message
              p
                font-size 15px

.article-menu-admin
  .article-menu-list
    .article-menu-list-item
      margin-bottom 5px
      a
        border-left 5px solid transparent
        color #424242
        padding-left 10px
        text-decoration none
        transition all .15s ease-in
        width 100%
        &:hover
          border-left 5px solid #4CAF50
          color #4CAF50
          md-icon
            color #4CAF50
        span
          line-height 48px
        md-icon
         color #424242
        &.active
          border-left 5px solid #4CAF50
          color #4CAF50
          md-icon
            color #4CAF50


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector