/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

@import url(https://fonts.googleapis.com/css?family=Montserrat)

/* Variables */
green-tich = #4CAF50
light-green-tich = #66bb6a
red-tich = #f44336
black-tich = #202020
blue-tich = #1976d2
gray-tich = #9e9e9e
light-blue-tich = #2196f3

/* Functions */
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  transition arguments

/* HTML tags general */
html
  background-color #F5F5F5
  font-family 'Roboto', serif

body
  background-color transparent
  min-height 100%

[layout=row]
  flex-direction row

/* Helpers */
.be-gray
  background #9e9e9e
.be-green-tich
  background green-tich !important
.big-margin-right
  margin-right 25px
.big-padding
  padding 25px
.black-tich
  color black-tich
.blue-tich
  color blue-tich !important
.border-radius
  border-radius 5px
.center-block
  margin 0 auto
.circle-image
  border-radius 50%
.gray-tich
  color gray-tich
.green-tich
  color green-tich !important
.full-height
  height 100% !important
.full-width
  width 100% !important
.light-blue-tich
  color light-blue-tich
.margin-h
  margin 10px 0 !important
.margin-top
  margin-top 15px
.margin-right
  margin-right 15px
.margin-left
  margin-left 15px !important
.no-margin
  margin 0 !important
.no-padding
  padding 0 !important
.no-link
  text-decoration none
.padding
  padding 15px
.pointer
  cursor pointer
.red-tich
  color red-tich
.transparent
  background-color transparent !important
.text-center
  text-align center
.text-right
  text-align right !important
.text-left
  text-align left
.white
  color white !important

/* Header menu */
.header
  padding 8px 20px !important
  height 75px
  min-height 75px
  max-height 75px
  .link
    color white
    cursor pointer
    margin-left 15px

/* Sidenav */
.user-panel
  transition all linear .2s
  color white
  background-color #1976d2
  width 256px !important
  min-width 256px !important
  max-width 256px !important
  header
    background-color light-green-tich
    .avatar
      padding 15px 10px 0 10px
      img
        border-radius 50%
        display block
        margin 0 auto
    .profile
      padding-bottom 10px
  .content
    .item
      padding 0 20px
      line-height 48px
      .link
        color white
        padding-left 15px
        text-decoration none
        transition all ease .25s
        &:hover
          background-color rgba(255, 255, 255, 0.3)
        &.active
          background-color rgba(255, 255, 255, 0.3)
        .icon
          color white
          margin-right 10px

/* Sidenav no login */
.main-side-menu
  .link
    color #212121
    padding-left 15px
    text-decoration none
    &:hover
      background #2E7D32
      color white

/* social buttons */
.social-buttons
  .md-button
    color white
    // display block
    // width 80%
    .facebook
      color #3b5998
    .twitter
      color #55acee
    .google
      color #dd4b39
    &.facebook
      background: #3b5998
      &:not([disabled]):hover,&.md-focused
        background-color: #2d4373 !important
    &.twitter
      background: #55acee
      &:not([disabled]):hover,&.md-focused
        background-color: #2795e9 !important
    &.google-plus
      background-color: #dd4b39
      &:not([disabled]):hover,&.md-focused
        background-color: #c23321 !important

/* Error messages */
.errors
  .error-item
    color red-tich
    font-style italic
    font-size 15px
    font-weight bold

/* Generals */
#loading-bar
  .bar
    background-color indigo-tich
    height 4px
  .peg
    box-shadow 0 0 10px #2c3e50, 0 0 5px #2c3e50
.main-container
  margin 0 auto
  width 90%
.title
  border-bottom 2px solid #bdbdbd
  font-family 'Montserrat', sans-serif
  margin 0 auto 15px auto
  padding 20px 0 5px 0
  width 90%

/* Buttons */
.fixed-action-btn
  position absolute
  top 8px
  right 5px
.md-button
  padding 0 6px
  font-size 14px

.ladda-button[disabled], .ladda-button[disabled]:hover, .ladda-button[data-loading], .ladda-button[data-loading]:hover
  background-color rgba(0,0,0,0.12)
  color rgba(0,0,0,0.26) !important
  cursor default
  outline none
  border 0
  border-radius 3px

/* Markdown styles */
textarea.markdown-input
  border 0
  border-bottom 2px solid green-tich
  width 100%
div.markdown-output
  padding 5px
div.markdown-toolbar
  padding-top 5px
  button
    background: #666;
    border: 0;
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
