md-dialog(flex="50")
  md-toolbar.md-accent
    div.md-toolbar-tools
      h1.md-headline.white Crea un artículo
      span(flex)
      md-button.md-icon-button(ng-click="cancel()")
        md-icon.white clear
  md-dialog-content.padding
    form.margin-top(name="articleForm")
      wizard(on-finish='finishedWizard()' hide-indicators="true")
        wz-step(title='Name')
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
              label Título del artículo
              input(type="text" name="title" ng-model="article.title" required ng-minlength="5")
              div(ng-messages="articleForm.title.$error" ng-show="articleForm.title.$dirty" role="alert" multiple)
                div(ng-message="required") El título es obligatorio
                div(ng-message="minlength") El título es muy corto
          .text-right
            md-button.md-raised.md-primary(wz-next='' ng-disabled="articleForm.title.$invalid")
              span.white Siguiente
        wz-step(title='Category')
          div(layout="row" layout-wrap layout-align="center center")
            md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
              label Categoría
              md-select(ng-model="article.category.slug" ng-change="getSubcategories()")
                md-option(ng-repeat="category in categories track by category.slug" value="{{category.slug}}")
                  | {{category.name}}
            md-input-container(ng-show="article.category.slug" flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
              label Subcategoría
              md-select(ng-model="article.subcategory_id" name="subcategory" required)
                md-option(ng-repeat="subcategory in subcategories" value="{{subcategory.id}}")
                  | {{subcategory.name}}
          .text-right
            md-button.md-primary(wz-previous='')
              span Regresar
            md-button.md-raised.md-primary(ng-click="saveArticle()" ladda="loading" ng-disabled="articleForm.$pristine || articleForm.$invalid")
              span.white Guardar