md-dialog(flex="50")
  md-dialog-content.padding
    h1.md-headline.text-center.margin-h Subcategorías
    md-list
      md-list-item.text-center(ng-repeat="subcategory in ctrl.parent.subcategories")
        p.md-body-1 {{subcategory.name}}