div.margin-top(flex layout="row" layout-align='center center' layout-wrap)
  div(flex ng-if="articles == null")
    md-progress-circular.center-block(md-mode="indeterminate" md-diameter="96")
  md-card(flex="20" ng-repeat="article in articles")
    img(src="{{ url }}{{ article.image.image.index.url }}" class="md-card-image" alt="Washed Out")
    md-card-title
      md-card-title-text
        span(class="md-title") {{ article.title }}
        md-divider
        span(class="md-subhead") {{ article.subcategory.name }}
    //- md-card-content
    //-   p
    //-     |The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest...
    md-card-actions(layout="row" layout-align="end center")
      md-button(class="md-icon-button" aria-label="Favorite")
        md-icon star
      md-button(class="md-icon-button" aria-label="Settings" ui-sref="home.article({slug: article.slug})")
        md-icon visibility
      md-button(class="md-icon-button" aria-label="Share")
        md-icon share
  