.article
  .title.text-left
    h1.md-display-1.no-margin {{ article.title }}
    .elements(layout="row" layout-wrap)
      p.element
        md-icon event
        span Hace {{ article.created_at }}
      p.element
        md-icon visibility
        span {{ article.count_views }}
      p.element
        md-icon question_answer
        span {{ article.comments_count }}
      div(flex)
      p.md-caption {{ article.category.name }} / {{ article.subcategory.name }}

  div(layout="row" layout-wrap layout-align="center start")
    div(flex-gt-lg="70" flex-lg="70" flex-md="60" flex-sm="100" flex-xs="100" layout="row" layout-wrap layout-align="center center")

      md-card.content.md-whiteframe-2dp(flex="100")
        img.border-radius(src="{{url}}{{article.image.image.full.url}}" ng-if="article.image.image.full.url")
        wiz-markdown(content="article.content")

      div(flex="100")
        h2.md-headline
          md-icon.margin-right.green-tich question_answer
          | Comentarios ({{ article.comments_count }})

        md-card.content.md-whiteframe-2dp
          md-content
            form(name="discussionForm" layout="row" layout-wrap layout-align="center center" ng-if="user.signedIn")
              div(flex="10" layout="column" layout-align="start center")
                md-icon account_circle
              md-input-container(flex="80")
                label Escribe tu comentario
                textarea(ng-model="discussion.message" name="message" required)
              div.text-right(flex="90")
                md-button.md-raised.md-primary(ng-disabled="discussionForm.$invalid" ng-click="saveDiscussion(discussion)" ladda="loadingDiscussion")
                  span.white Comentar
            
            md-list.discussion-list(ng-if="article.discussions.length > 0")
              md-list-item.discussion-item(ng-repeat="discussion in article.discussions" layout="row" layout-wrap layout-align="center start")
                div(layout="column" layout-align="center start")
                  img.circle-image.avatar(src="{{url}}{{discussion.user.avatar.avatar.mini.url}}" ng-if="discussion.user.avatar.avatar.mini.url")
                  img.circle-image.avatar(src="/assets/images/avatar.png" ng-if="!discussion.user.avatar.avatar.mini.url")
                div(flex layout="column")
                  div.info(layout="row" layout-wrap layout-align="start center")
                    span.md-body-1.margin-right.green-tich(ng-if="discussion.user.profile.full_name") {{ discussion.user.profile.full_name }}
                    span.md-body-1.margin-right.green-tich(ng-if="!discussion.user.profile.full_name") {{ discussion.user.profile.alias }}
                    span.md-caption.gray-tich {{ discussion.created_at }}
                  div.message
                    p.no-margin {{ discussion.message }}
                  div.response(layout="row" layout-wrap layout-align="start center" ng-init="discussion.show = false")
                    div.margin-right.comments_count(ng-init="discussion.showComments = false")
                      a.pointer(ng-click="showCommentList(discussion)")
                        md-icon(ng-class="discussion.showComments ? 'blue-tich' : 'green-tich'") question_answer
                        | {{ discussion.comments_count }}
                    div.margin-right(ng-if="user.signedIn")
                      a.md-caption.pointer.light-blue-tich(ng-click="showComment(discussion)" ng-if="!discussion.show") Responder
                      a.md-caption.pointer.red-tich(ng-click="showComment(discussion)" ng-if="discussion.show") Cancelar
                  
                  div(ng-show="discussion.show")
                    form(name="commentForm" layout="row" layout-wrap layout-align="center center" ng-if="user.signedIn")
                      div(flex="10" layout="column" layout-align="start center")
                        md-icon account_circle
                      md-input-container(flex="80")
                        label Escribe tu respuesta
                        textarea(ng-model="discussion.comment.message" name="message" required)
                      div.text-right(flex="90")
                        md-button.md-raised.md-primary(ng-disabled="commentForm.$invalid" ng-click="saveComment(discussion)" ladda="loadingComment")
                          span.white Responder
                  
                  md-list.comment-list(ng-if="discussion.comments.length > 0 && discussion.showComments")
                    md-list-item.comment-item(ng-repeat="comment in discussion.comments" layout="row" layout-wrap)
                      div(layout="column" layout-align="center center")
                        img.circle-image.avatar(src="{{url}}{{comment.user.avatar.avatar.mini.url}}" ng-if="comment.user.avatar.avatar.mini.url")
                        img.circle-image.avatar(src="/assets/images/avatar.png" ng-if="!comment.user.avatar.avatar.mini.url")
                      div(flex layout="column")
                        div.info(layout="row" layout-wrap layout-align="start center")
                          span.md-body-1.margin-right.green-tich(ng-if="comment.user.profile.full_name") {{ comment.user.profile.full_name }}
                          span.md-body-1.margin-right.green-tich(ng-if="!comment.user.profile.full_name") {{ comment.user.profile.alias }}
                          span.md-caption.gray-tich {{ comment.created_at }}
                        div.message
                          p.no-margin {{ comment.message }}

            div(ng-if="article.discussions.length == 0")
              h1.md-title.text-center ¡Se el primero en comentar!

    div(flex-gt-lg="20" flex-lg="20" flex-md="30" flex-sm="100" flex-xs="100" layout="column" layout-align="center center")

      md-card.content.md-whiteframe-2dp.no-padding(flex)
        md-toolbar.md-accent
          div.md-toolbar-tools
            h1.md-headline.white.full-width.text-center Autor
        md-content(layout="column" layout-align="center center" layout-padding)
          img.circle-image(src="{{url}}{{article.user.avatar.avatar.article.url}}" style="width:150px;" ng-if="article.user.avatar.avatar.article.url")
          img.circle-image(src="/assets/images/avatar.png" style="width:150px;" ng-if="!article.user.avatar.avatar.article.url")
          .text-center
            h2.md-title(ng-if="article.user.profile.full_name != null") {{ article.user.profile.full_name }}
            p.md-subhead {{ article.user.email }}
            md-divider
            p.md-body-2 {{ article.user.profile.bio }}