.main-container.full-height(layout="column" layout-align="center center")
  .text-center(ng-if="articles.length == 0")
    h1.md-display-1
      | Aún no tienes artículos 
      a.no-link.blue-tich.pointer(ng-click="newArticle()") crea uno desde aquí!
  .full-width(flex layout="row" layout-wrap layout-align="center center")
    md-card.md-whiteframe-2dp(flex="45" flex-gt-lg="45" flex-lg="45" flex-md="45" flex-sm="90" flex-xs="90" ng-repeat="article in articles")
      md-card-title
        md-card-title-text
          span.md-headline {{ article.title }}
          span.md-subhead {{ article.subcategory.name }}
        md-card-title-media
          div.md-media-lg.card-media(layout="column" layout-align="center center")
            img(ng-if="!article.image.image.mini.url" src="http://placehold.it/152x152" alt="Tich")
            img(ng-if="article.image.image.mini.url" src="{{url}}{{article.image.image.mini.url}}" alt="Tich")
      md-card-actions(layout="row" layout-align="end center")
        md-button.md-primary(ui-sref="home.article({slug: article.slug})") Ver
        md-button.md-primary.md-raised.margin-left(ui-sref="admin.site.article.general({slug: article.slug})")
          md-icon.margin-right.white create
          span.white Editar

  .fixed-action-btn
    md-button(class="md-fab" aria-label="Crea tu articulo" ng-click="newArticle($event)")
      md-icon create