.main-container(layout="column")
  md-card
    md-content
      md-table-container
        table(md-table)
          thead(md-head)
            tr(md-row)
              th(md-column)
                p.md-title Nombre
              th(md-column)
                p.md-title Slug
              th(md-column)
          tbody(md-body)
            div(ng-if="categories == null")
              md-progress-circular.center-block(md-mode="indeterminate" md-diameter="60")
            tr(md-row ng-repeat="category in categories")
              td(md-cell)
                p.md-body-2 {{ category.name }}
              td(md-cell)
                p.md-body-2 {{ category.slug }}
              td(md-cell)
                md-button.md-icon-button.md-primary(aria-label="Ver subctegorias" ng-click="showSubcategories($event, category)")
                  md-icon visibility
        .text-right(ng-if="categories.length > 0")
          md-button.md-primary.md-raised(ng-hide="categories.pagination.page == 0" ng-click="categories.pagination.prevPage()") Anterior
          md-button.md-primary.md-raised(ng-hide="(categories.pagination.page + 1) == categories.pagination.numPages" ng-click="categories.pagination.nextPage()") Siguiente