md-toolbar.md-whiteframe-z2.header
  .md-toolbar-tools
    div(flex layout="row" layout-wrap layout-align="start center")
      div(flex-gt-lg="50" flex-lg="50" flex-md="50" flex-sm="40" flex-xs="40")
        a(href="/")
          img(src="/assets/images/TichLogoAdminBlanco.png" alt="Tich" style="width:180px;")
      div(layout="row" flex-gt-lg="50" flex-lg="50" flex-md="50" flex-sm="60" flex-xs="60")
        .text-right(flex)
          a.link(ng-click="toggleAdminPanel()")
            md-icon.white notifications_none
          a.md-subhead.link(flex ui-sref="home.articles") Artículos
          a.link(ng-click="toggleAdminPanel()" hide-gt-lg hide-lg)
            md-icon.white menu