md-toolbar.md-whiteframe-z2.header
  .md-toolbar-tools
    div(flex layout="row" layout-wrap layout-align="start center")
      div(flex-gt-lg="50" flex-lg="50" flex-md="50" flex-sm="40" flex-xs="40")
        a(href="/")
          img(src="/assets/images/TichLogoBlanco.png" alt="Tich" style="width:180px;")
      div(layout="row" flex-gt-lg="50" flex-lg="50" flex-md="50" flex-sm="60" flex-xs="60")
        .text-right(flex hide-xs hide-sm ng-if="!user.signedIn")
          a.md-subhead.link(flex ui-sref="home.articles") Artículos
          a.md-subhead.link(flex ui-sref="home.login") Ingresa
          a.md-subhead.link(flex ui-sref="home.register") Regístrate
        .text-right(flex ng-if="!user.signedIn" hide-gt-lg hide-lg hide-md)
          a.link(ng-click="openSideNavPanel()")
            md-icon.white menu
        .text-right(flex ng-if="user.signedIn")
          a.link(ng-click="openUserPanel()")
            md-icon.white star
          a.md-subhead.link(flex ui-sref="home.articles") Artículos
          a.link(ng-click="openUserPanel()")
            md-icon.white menu

md-sidenav.main-side-menu.md-whiteframe-z2(md-component-id="right")
  md-toolbar(layout="row")
    .md-toolbar-tools
      h2.md-title.white Menú
      div(flex)
      a(ng-click="closeSideNavPanel()")
        i.fa.fa-times
  md-content(flex layout="row" layout-wrap)
    md-list(flex)
      md-list-item.no-padding(flex)
        a.link(flex ui-sref="home.login" ng-if="!user.signedIn" ng-click="closeSideNavPanel()")
          h1.md-title
            i.fa.fa-sign-in
            | Inicia sesión
      md-divider
      md-list-item.no-padding(flex)
        a.link(flex ui-sref="home.register" ng-if="!user.signedIn" ng-click="closeSideNavPanel()")
          h1.md-title
            i.fa.fa-user-plus
            | Regístrate
      md-divider
      md-list-item.no-padding(flex)
        a.link(flex ui-sref="home.articles" ng-click="closeSideNavPanel()")
          h1.md-title
            i.fa.fa-book
            | Artículos
      md-divider