md-sidenav.admin-panel.md-whiteframe-z3.md-sidenav-left(md-sidenav-left md-component-id="admin" md-is-locked-open="$mdMedia('gt-md')")
  header
    .avatar
      img(src="/assets/images/avatar.png" alt="Avatar"  width="150" height="150")
      //- img(src="{{url}}{{user.avatar.sidenav.url}}" ng-if="user.avatar.sidenav.url")
    .profile.text-center
      h2.md-subhead(ng-if="!me.full_name") {{user.email}}
      h2.md-subhead(ng-if="me.full_name") {{me.full_name}}
      a.md-body-1.pointer(flex ng-click="logout()") Cerrar sesión
  md-content.transparent.content(flex role="navigation")
    md-list.no-padding
      md-list-item.text-left.no-padding.item(layout="column")
        a.md-title.full-width.full-height.link(flex ui-sref="admin.site.dashboard" ui-sref-active="active")
          md-icon.icon home
          span Dashboard
        a.md-title.full-width.full-height.link(flex ui-sref="admin.site.categories" ui-sref-active="active")
          md-icon.icon list
          span Categorías
        a.md-title.full-width.full-height.link(flex ui-sref="admin.site.articles" ui-sref-active="active")
          md-icon.icon insert_drive_file
          span Artículos