md-sidenav.user-panel.md-whiteframe-z3.md-sidenav-left(md-sidenav-left md-component-id="left" ng-show="user.signedIn")
  header
    .avatar
      img(src="/assets/images/avatar.png" alt="Avatar"  width="150" height="150" ng-if="!user.avatar.sidenav.url")
      img(src="{{url}}{{user.avatar.sidenav.url}}" ng-if="user.avatar.sidenav.url")
    .profile.text-center
      h2.md-subhead(ng-if="!me.full_name") {{user.email}}
      h2.md-subhead(ng-if="me.full_name") {{me.full_name}}
      a.md-body-1.pointer(flex ng-click="logout()") Cerrar sesión
  md-content.transparent.content(flex role="navigation")
    md-list.no-padding
      md-list-item.text-left.no-padding.item(layout="column")
        a.md-title.full-width.full-height.link(flex ui-sref="home.me.profile" ui-sref-active="active" ng-click="openUserPanel()")
          md-icon.icon account_box
          span Perfil
      md-list-item.text-left.no-padding.item(layout="column")
        a.md-title.full-width.full-height.link(flex ui-sref="home.articles" ui-sref-active="active" ng-click="openUserPanel()")
          md-icon.icon insert_drive_file
          span Artículos
      md-list-item.text-left.no-padding.item(layout="column")
        a.md-title.full-width.full-height.link(flex href="#")
          md-icon.icon star
          span Favoritos
      md-list-item.text-left.no-padding.item(layout="column" ng-if="user.admin")
        a.md-title.full-width.full-height.link(flex ui-sref="admin.site.dashboard")
          md-icon.icon build
          span Admin