.social-buttons(layout="row" layout-wrap layout-align="center center")
  md-button(class="md-icon-button" aria-label="Ingresa con Facebook" ng-click="authenticate('facebook', {params: oAuthForm}); loadingCircle();")
    ng-md-icon.facebook(icon="facebook" size='24')
  md-button(class="md-icon-button" aria-label="Ingresa con Twitter" ng-click="authenticate('twitter', {params: oAuthForm}); loadingCircle();")
    ng-md-icon.twitter(icon="twitter" size='24')
  md-button(class="md-icon-button" aria-label="Ingresa con Google+" ng-click="authenticate('google', {params: oAuthForm}); loadingCircle();")
    ng-md-icon.google(icon="google-plus" size='24')
  //- md-button.md-raised.facebook(ng-click="authenticate('facebook', {params: oAuthForm}); loadingFunc();")
  //-   ng-md-icon.margin-right(icon="facebook")
  //-   | Ingresa con Facebook
  //- md-button.md-raised.twitter(ng-click="authenticate('twitter', {params: oAuthForm}); loadingFunc();")
  //-   ng-md-icon.margin-right(icon="twitter")
  //-   | Ingresa con Twitter
  //- md-button.md-raised.google-plus(ng-click="authenticate('google', {params: oAuthForm}); loadingFunc();")
  //-   ng-md-icon.margin-right(icon="google-plus")
  //-   | Ingresa con Google+

