.main-container(layout="row" layout-wrap layout-align="start start")
  .article-menu-admin(flex="25")
    h1.md-headline.margin-h Menú
    md-divider
    md-list.article-menu-list
      md-list-item.article-menu-list-item.no-padding(layout="column" layout-align="center start")
        a.pointer(ui-sref="admin.site.article.general" ui-sref-active="active" flex)
          md-icon.margin-right description
          span Información general
      md-list-item.article-menu-list-item.no-padding(layout="column" layout-align="center start")
        a.pointer(ui-sref="admin.site.article.content" ui-sref-active="active" flex)
          md-icon.margin-right format_align_left
          span Contenido
      md-list-item.article-menu-list-item.no-padding(layout="column" layout-align="center start")
        a.pointer(ui-sref="admin.site.article.image" ui-sref-active="active" flex)
          md-icon.margin-right crop_original
          span Imagen
      md-list-item.article-menu-list-item.no-padding(layout="column" layout-align="center start" ng-if="article.content && article.content_markdown && article.image.image.url")
        a.pointer(ng-click="publishArticle()" flex)
          md-icon.margin-right(ng-if="!article.published") check_circle
          span(ng-if="!article.published") Publicar
          md-icon.margin-right(ng-if="article.published") clear
          span(ng-if="article.published") Remover del público
      md-list-item.article-menu-list-item.no-padding(layout="column" layout-align="center start")
        a.pointer(ng-click="deleteArticleConfirm($event)" flex)
          md-icon.margin-right delete
          span Eliminar
      md-list-item.article-menu-list-item.no-padding(layout="column" layout-align="center start")
        a.pointer(ui-sref="admin.site.articles" flex)
          md-icon.margin-right arrow_back
          span Regresar
  div(flex="75")
    ui-view