md-card
  md-content
    md-content.md-padding
      form(name="articleForm")
        div(layout="row" layout-wrap layout-align="center center")
          md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
            label Contenido del artículo
            wiz-markdown-editor(content="article.content_markdown" toolbar="bottom")
              wiz-toolbar-button(command="bold")
                strong B
              wiz-toolbar-button(command="italic")
                em I
              wiz-toolbar-button(command="undo") Undo
              wiz-toolbar-button(command="redo") Redo
              wiz-toolbar-button(command="heading") Heading
              wiz-toolbar-button(command="code") Code
              wiz-toolbar-button(command="ullist") ul
              wiz-toolbar-button(command="ollist") ol
              wiz-toolbar-button(command="indent") Indent
              wiz-toolbar-button(command="outdent") Outdent
              wiz-toolbar-button(command="link") link
              wiz-toolbar-button(command="img") Img
              wiz-toolbar-button(command="hr") hr
              wiz-toolbar-button(command="h0") H0
              wiz-toolbar-button(command="h1") H1
              wiz-toolbar-button(command="h2") H2
              wiz-toolbar-button(command="h3") H3
              wiz-toolbar-button(command="h4") H4
              wiz-toolbar-button(command="h5") H5
              wiz-toolbar-button(command="h6") H6
              wiz-toolbar-button(command="tab") Tab
              wiz-toolbar-button(command="untab") Untab
          .margin-top(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
            h2.md-title.margin-h Previzualización del contenido
            md-divider
            wiz-markdown(content="article.content_markdown")
        .margin-top(flex layout="row" layout-align="end center")
          md-button.md-raised.md-primary(ng-click="updateArticle()" ladda="loading" ng-disabled="articleForm.$pristine || articleForm.$invalid")
            span.white Guardar