md-card
  md-content
    md-content.md-padding
      form(name="articleForm")
        div(layout="row" layout-wrap layout-align="center center")
          md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
            label Título del artículo
            input(type="text" name="title" ng-model="article.title" required ng-minlength="5")
            div(ng-messages="articleForm.title.$error" ng-show="articleForm.title.$dirty" role="alert" multiple)
              div(ng-message="required") El título es obligatorio
              div(ng-message="minlength") El título es muy corto
          md-input-container(flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
            label Categoría
            md-select(ng-model="article.category.slug" ng-change="getSubcategories()")
              md-option(ng-repeat="category in categories track by category.slug" value="{{category.slug}}")
                | {{category.name}}
          md-input-container(ng-show="article.category.slug" flex-gt-lg="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="90")
            label Subcategoría
            md-select(ng-model="article.subcategory_id" name="subcategory" required)
              md-option(ng-repeat="subcategory in subcategories" value="{{subcategory.id}}")
                | {{subcategory.name}}
          .text-left(flex="90")
            span.md-caption {{ article.subcategory.name }}
        .margin-top(flex layout="row" layout-align="end center")
          md-button.md-raised.md-primary(ng-click="updateArticle()" ladda="loading" ng-disabled="articleForm.$pristine || articleForm.$invalid")
            span.white Guardar