md-card
  md-content
    md-content.md-padding(layout="column" layout-align="center center")
      img.border-radius(src="{{url}}{{article.image.image.preview.url}}" ng-if="article.image.image.preview.url && !my_image")
      img.border-radius(ngf-src="my_image" ng-if="my_image" width="900" height="300")
      md-button.md-primary.margin-top(ngf-select ng-model="my_image" ngf-multiple="false")
        md-icon.big-margin-right.black-tich file_upload
        span.black-tich Seleccionar imagen
      div.text-center.margin-bottom(ng-if="my_image" layout="row" layout-wrap layout-align="center center")
        md-button.pointer.md-primary.md-raised(ng-click="upload(my_image)" ladda="loading")
          span.white Guardar
        md-button.pointer.md-warn.md-raised(ng-click="uploadCancel()")
          | Cancelar