.margin-top(flex layout="row" layout-align='center center')
  md-card.md-whiteframe-2dp.text-center(flex-gt-lg="45" flex-lg="45" flex-md="45" flex-sm="60" flex-xs="80")
    md-card-content
      h1.md-display-1.text-center ¡Gracias por registrarte!
      md-divider
      h2.md-title.text-center.green Para continuar...
      h3.md-subhead.text-center Por favor confirma tu correo electrónico desde el email que te enviamos
      div.text-center
        md-button.md-raised.md-primary(ui-sref="home.articles")
          span.white Ir a inicio