.margin-top(flex layout="row" layout-align='center center')
  md-card.md-whiteframe-2dp.text-center(flex-gt-lg="45" flex-lg="45" flex-md="45" flex-sm="60" flex-xs="80")
    md-card-content
      h1.md-subhead.margin-h Para terminar tu registro, por favor ingresa tu dirección de correo electrónico
      md-divider
      form.margin-top(flex layout="row" layout-align='center center' layout-wrap name="loginForm" novalidate)
        md-input-container.md-icon-float.md-block(flex='80')
          label Correo electrónico
          md-icon account_circle
          input(type="email" ng-model="updateAccountForm.email" name="email" required id="email")
          div(ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty")
            div(ng-message="required") El correo electrónico es obligatorio
            div(ng-message="email") El correo electrónico es incorrecto
        div.text-right(flex='80')
          md-button.md-raised.md-primary(ladda="updateLoading" ng-disabled="loginForm.$invalid" ng-click="updateEmail()")
            span.white Actualizar