.margin-top(flex layout="row" layout-wrap layout-align='center center')
  md-card.md-whiteframe-2dp.text-center.session(flex-gt-lg="45" flex-lg="45" flex-md="45" flex-sm="60" flex-xs="80")
    md-toolbar.md-accent
      div.md-toolbar-tools
        h1.white.full-width.text-center Ingresa
    md-card-content
      div(ng-if="loading" layout="column" layout-align="center center")
        md-progress-circular(md-mode="indeterminate" md-diameter="60")
      .margin-top
        include ../snippets/socials.jade
      p(style="margin: 25px 0;") o con tu correo electrónico
      div.errors(ng-if="errors")
        p.error-item.md-body-2(ng-repeat="error in errors") {{error}}
      form.margin-top(flex layout="row" layout-align='center center' layout-wrap name="loginForm" novalidate)
        md-input-container.md-icon-float.md-block(flex='80')
          label="Correo electrónico"
          md-icon account_circle
          input(type="email" ng-model="login.email" name="email" required id="email")
          div(ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty")
            div(ng-message="required") El correo electrónico es obligatorio
            div(ng-message="email") El correo electrónico es incorrecto
        md-input-container.md-icon-float.md-block(flex='80')
          label Contraseña
          md-icon vpn_key
          input(type="password" ng-model="login.password" name="password" required id="password")
          div(ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty")
            div(ng-message="required") La contraseña es obligatoria
        div.text-right(flex='80')
          md-button.md-raised.md-primary(ng-disabled="loginForm.$invalid" ng-click="loginSubmit()" ladda="loginLoading")
            span.white Ingresar
        div.text-right(flex='80')
          p.md-subhead
            | Si no tienes cuenta, 
            a.green-tich.no-link(ui-sref="home.register") regístrate aquí!
          p.md-subhead
            | ¿Olvidaste tu contraseña?, 
            a.green-tich.no-link(ui-sref="home.password_recovery") recupérala aquí!