.margin-top(flex layout="row" layout-align='center center')
  md-card.md-whiteframe-2dp.text-center.session(flex-gt-lg="45" flex-lg="45" flex-md="45" flex-sm="60" flex-xs="80")
    md-toolbar.md-accent
      div.md-toolbar-tools
        h1.white.full-width.text-center Regístrate
    md-card-content
      div(ng-if="loading" layout="column" layout-align="center center")
        md-progress-circular(md-mode="indeterminate" md-diameter="60")
      .margin-top
        include ../snippets/socials.jade
      p(style="margin: 25px 0;") o con tu correo electrónico
      form.margin-top(flex layout="row" layout-align='center center' layout-wrap name="registerForm" novalidate)
        md-input-container.md-icon-float.md-block(flex='80')
          label Correo electrónico
          md-icon account_circle
          input(type="email" ng-model="register.email" name="email" required id="email")
          div(ng-messages="registerForm.email.$error" ng-show="registerForm.email.$dirty")
            div(ng-message="required") El correo electrónico es obligatorio
            div(ng-message="email") El correo electrónico es incorrecto
        md-input-container.md-icon-float.md-block(flex='80')
          label Contraseña
          md-icon vpn_key
          input(type="password" ng-model="register.password" name="password" required id="password")
          div(ng-messages="registerForm.password.$error" ng-show="registerForm.password.$dirty")
            div(ng-message="required") La contraseña es obligatoria
        md-input-container.md-icon-float.md-block(flex='80')
          label Confirma tu contraseña
          md-icon check_circle
          input(type="password" ng-model="register.password_confirmation" name="password_confirmation" id="password_confirmation" required ng-confirm-field confirm-against="register.password")
          div(ng-messages="registerForm.password_confirmation.$error" ng-show="registerForm.password_confirmation.$dirty")
            div(ng-message="noMatch") Las contraseñas no coinciden
        div.text-right(flex='80')
          md-button.md-raised.md-primary(ng-disabled="registerForm.$invalid" ng-click="registrationSubmit()" ladda="loginLoading")
            span.white Regístrate
        div.text-right(flex='80')
          p.md-subhead
            | Si ya tienes cuenta, 
            a.green-tich.no-link(ui-sref="home.login") ingresa aquí!